.hours-input{
    width: 150px;
    background-color: #ffffff00;
    height: 40px;
    text-align: center;
    font-size: 24px;
    color: white;
    border-bottom: 3px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
}

.periode-form{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.react-time-picker__clear-button { display: none; }
.react-time-picker__clock-button { display: none; }


.react-time-picker__wrapper {border:none !important;}

.react-time-picker__inputGroup>* {color: white}

.react-time-picker__clock {display: none;}
