

.daily-form{
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;

}

.daily-form>* {
  margin: 10px 2px;
}

.conclusion {
  line-height: calc(30px + 2vmin);
  font-style: italic;
  font-size: calc(13px + 2vmin);
}
