.daily-form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*align-items: center;*/
}
.daily-form>* {
  margin: 10px 2px;
}

.react-datepicker-input{
  height: 1px;
  max-width: 150px;
  background-color: white;
  text-align: center;
  font-size: 24px;
  color: white;
  border: none;
  border-radius: 4px;
}
.date-slected{
  margin: 2px;
}
